#info-div{
    padding-left: 45px;
}

#padding-1{
    padding-top: 10px;
}

#padding-2{
    padding-top: 10px;
}

#padding-3{
    padding-top: 10px;
}

#padding-4{
    padding-top: 25px;
}

#btn-div{
    padding-left: 105px;
}

#padding{
    padding-top: 15px;
}

#padding-5{
    padding-top: 25px;
}
#false{
    padding-top: 10px;
    padding-left: 112px;
}
#test-pic{
    width: 300px;
    height: 200px;
}

#preview-div{
    padding-left: 250px;
}